.vs/SvrCallImageEngineCMake/
CMakeFiles/
.vs/
CMakeCache.txt
src/DicomEngine/dicom_engine.dir/
ALL_BUILD.vcxproj.filters
ALL_BUILD.vcxproj
SvrCallImageEngineCMake.v11.suo
SvrCallImageEngineCMake.sln
SvrCallImageEngineCMake.sdf
SvrCallImageEngineCMake.opensdf
ZERO_CHECK.vcxproj.filters
ZERO_CHECK.vcxproj
bin/
src/DicomEngine/dicom_engine.vcxproj.user
src/DicomEngine/dicom_engine.vcxproj.filters
src/DicomEngine/dicom_engine.vcxproj
src/DicomEngine/dicom_engine.sln
src/DicomEngine/cmake_install.cmake
Win32/
src/cmake_install.cmake
cmake_install.cmake
